header {
	width: 100%;
	position: relative;

	&.main {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 2;

		.inner {
			border-bottom: 1px solid #ddd;

			h1 {
				a {
					color: #fff;
				}
			}
			#gnb1,
			#gnb2,
			#util {
				li {
					a {
						color: #fff;
					}
				}
			}
			.fa-bars {
				color: #fff;
			}
		}
	}

	.inner {
		width: 1180px;
		height: 85px;
		margin: 0px auto;
		position: relative;

		&::after {
			content: '';
			display: block;
			clear: both;
		}

		h1 {
			position: absolute;
			top: 15px;
			left: 50%;
			transform: translateX(-50%);
			float: left;

			a {
				display: block;
				font: bold 28px/1 'Jost', sans-serif;
				color: #333;
				text-align: center;
			}
		}
		#gnb1 {
			position: absolute;
			top: 20px;
			left: 150px;

			li {
				float: left;
				a {
					display: inline-block;
					padding: 20px;
					font: bold 14px/1 'Poppins', sans-serif;
					color: #333;
				}
			}
		}

		#gnb2 {
			position: absolute;
			top: 20px;
			right: 150px;

			li {
				float: left;
				a {
					display: inline-block;
					padding: 20px;
					font: bold 14px/1 'Poppins', sans-serif;
					color: #333;
				}
			}
		}

		#util {
			position: absolute;
			top: 20px;
			right: 10px;
			li {
				float: left;
				a {
					display: inline-block;
					padding: 20px 10px;
					font: 14px/1 'Poppins', sans-serif;
					color: #333;
				}
			}
		}
		.fa-bars {
			display: block;
			position: absolute;
			top: 35px;
			left: 10px;
			font-size: 18px;
			color: #333;
		}
	}
}

@media screen and (max-width: $tablet) {
	header {
		width: 100%;
		.inner {
			width: 100%;
			#gnb1,
			#gnb2,
			#util {
				display: none;
			}
		}
	}
}
