#mobilePanel {
	width: 280px;
	height: 100%;
	background: #111;
	padding: 50px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;

	h1 {
		margin-bottom: 50px;
		a {
			font: bold 40px/1 'Jost';
			color: #fff;
		}
	}
	ul {
		li {
			margin-bottom: 30px;
			a {
				font: 16px/1 'Jost';
				color: #fff;
			}
		}
	}
}
