.DEPARTMENT {
	> .inner {
		width: 100%;
		margin: 0px auto;

		#upper {
			display: flex;
			justify-content: center;
			flex-direction: row;
			gap: 20px;
			margin-bottom: 100px;

			.aboutTxt {
				width: 60%;
				> h2 {
					font: bold 35px/1 'jost';
					color: #333;
					margin-bottom: 25px;
				}
				> p {
					font: 15px/1.6 'poppins';
					color: #777;
				}
			}
			.pic {
				width: calc(40% - 20px);
				height: 300px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					opacity: 0.8;
				}
			}
		}

		#middle {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 150px;
			text-align: center;

			> article {
				width: calc(100% / 3);
				background-color: #ebe7fc;
				margin-right: 30px;
				padding: 40px;

				.fa-heart,
				.fa-laptop-code,
				.fa-cloud-arrow-down {
					font-size: 70px;
					margin-bottom: 30px;
					color: #7083c0;
				}
				> h3 {
					font: bold 25px/1 'jost';
					color: #333;
					margin-bottom: 20px;
				}
				> p {
					font: 15px/1.3 'poppins';
					color: #555;
					margin: 0px auto;
				}
			}
		}

		#lower {
			> h2 {
				font: bold 35px/1 'jost';
				color: #333;
				text-align: center;
				margin-bottom: 10px;
			}
			> p {
				width: 50%;
				font: 15px/1.3 'jost';
				color: #555;
				margin: 0px auto;
				text-align: center;
			}

			.wrap {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-content: flex-start;
				> article {
					width: calc(100% / 3);
					float: left;
					padding: 50px;
					margin-bottom: 40px;
					margin-top: 20px;

					> .pic {
						width: 200px;
						height: 200px;
						margin: 0px auto 20px;
						:hover {
							box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.2);
							opacity: 0.9;
							transition: 0.3s;
							transform: scale(1.05);
							transition: 0.5s;
						}

						> img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							border-radius: 50%;
							opacity: 0.7;
							box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.2);
						}
					}
					> h2 {
						font: bold 22px/1 'Poppins', sans-serif;
						color: #444;
						text-align: center;
						margin-bottom: 10px;
						letter-spacing: 1px;
					}
					> p {
						font: 16px/1 'Poppins', sans-serif;
						color: #888;
						text-align: center;
						margin-bottom: 25px;
					}
					.icon {
						display: flex;
						justify-content: center;
						gap: 20px;
						font-size: 15px;
						color: #fa9b9b;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.DEPARTMENT {
		> .inner {
			#upper {
				margin-bottom: 80px;

				.aboutTxt {
					> h2 {
						font: bold 30px/1 'jost';
						margin-bottom: 20px;
					}
					> p {
						font: 13px/1.4 'poppins';
					}
				}
			}

			#middle {
				margin-top: 80px;
				margin-bottom: 100px;

				.fa-heart,
				.fa-laptop-code,
				.fa-cloud-arrow-down {
					font-size: 50px;
					margin-bottom: 25px;
				}
				> h3 {
					font: bold 20px/1 'jost';
					margin-bottom: 15px;
				}
				> p {
					font: 12px/1 'poppins';
				}

				> article {
					margin-right: 10px;
					padding: 15px;
				}
			}

			#lower {
				.wrap {
					padding: 30px;

					> article {
						width: calc(100% / 2);
						float: left;
						padding: 30px;
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.DEPARTMENT {
		> .inner {
			#upper {
				display: block;
				gap: 0px;
				margin-bottom: 50px;

				.aboutTxt {
					width: 100%;
					margin-bottom: 30px;
					> h2 {
						font: bold 25px/1 'jost';
						margin-bottom: 18px;
					}
					> p {
						font: 13px/1.4 'poppins';
					}
				}
				.pic {
					width: 100%;
					height: 170px;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						opacity: 0.8;
					}
				}
			}

			#middle {
				display: block;
				width: 100%;
				margin-top: 60px;
				margin-bottom: 100px;

				.fa-heart,
				.fa-laptop-code,
				.fa-cloud-arrow-down {
					font-size: 40px;
					margin-bottom: 20px;
				}
				> h3 {
					font: bold 20px/1 'jost';
					margin-bottom: 15px;
				}
				> p {
					font: 12px/1 'poppins';
				}

				> article {
					width: 100%;
					margin-bottom: 20px;
					padding: 20px;
				}
			}

			#lower {
				p {
					width: 90%;
				}
				.wrap {
					> article {
						width: 100%;
						padding: 10px;
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}
