.MEMBER {
	background: #fff;
	> .inner {
		button {
			margin-bottom: 10px;
		}
		.join {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 80px;
			margin-bottom: 80px;

			li {
				text-align: center;
				.step {
					font: bold 13px/1 'poppins';
					color: #bbb;
					margin-bottom: 10px;
					letter-spacing: 1px;
				}
				.num {
					font: 20px/1 'poppins';
					margin-bottom: 10px;
					color: #bbb;
				}
				.fa-user,
				.fa-pen-to-square,
				.fa-circle-check {
					font-size: 30px;
					color: #bbb;
					margin-bottom: 15px;
				}
				.txt {
					font: bold 15px/1 '맑은고딕';
					color: #bbb;
				}

				&:nth-of-type(2) {
					p {
						font-weight: bold;
						color: #333;
					}
					.fa-pen-to-square {
						color: coral;
						font-size: 38px;
					}
				}
			}
			.fa-arrow-right-long {
				color: #aaa;
				font-size: 20px;
			}
		}
		form {
			h2 {
				font: bold 20px/1 '맑은고딕';
				color: #333;
				margin-bottom: 20px;
			}
			.agreement {
				margin-bottom: 50px;
				textarea {
					width: 100%;
					height: 160px;
					box-sizing: border-box;
					padding: 20px;
					margin-bottom: 10px;
					font: 15px/1.8 'Poppins', sans-serif;
					color: #777;
					background: rgba(0, 0, 0, 0.03);
					border: 1px solid #aaa;
					resize: none;
					&:focus {
						outline: 1px solid gray;
					}
				}

				input {
					margin: 0px 8px 0px 5px;
					vertical-align: middle;
					width: 14px;
					height: 14px;
				}
				label {
					font-size: 11px;
					color: #888;
					margin-left: 10px;
				}
			}

			table {
				width: 100%;

				th,
				td {
					border: 1px solid #bbb;
					border-left: none;
					border-right: none;
					padding: 20px 35px;
					font: bold 15px/1 'Poppins', sans-serif;
					color: #555;
				}

				th {
					width: 20%;
					text-align: left;
					font: bold 14px/1 '맑은 고딕';
					background: #fafafa;

					&:last-child {
						text-align: center;
						input[type='submit'],
						input[type='reset'] {
							width: 180px;
							height: 30px;
							display: inline-flex;
							justify-content: center;
							align-items: center;
							border: 1px solid #333;
							margin: 0px 10px;
							font: bold 14px/30px 'Poppins', sans-serif;
							color: #555;
							cursor: pointer;
							transition: 0.5s;
							border-radius: 50px;

							&:hover {
								background: #333;
								color: #fff;
							}
						}
					}
				}

				td {
					border-left: 1px solid #bbb;

					label {
						font: bold 12px/1 '맑은 고딕';
						padding-right: 6px;
					}

					input[type='text'],
					input[type='password'],
					input[type='email'],
					select,
					textarea {
						width: 80%;
						height: 30px;
						background: rgba(0, 0, 0, 0.01);
						padding: 5px 8px;
						border: 1px solid #bbb;
						resize: none;
						font: 12px/1 '맑은 고딕';
						&:hover {
							background: rgba(0, 0, 0, 0.09);
						}
						&:focus {
							outline: 1px solid gray;
						}
					}
					textarea {
						height: 130px;
						padding-top: 8px;
					}
					input[type='checkbox'],
					input[type='radio'] {
						margin-right: 30px;
						vertical-align: middle;
						width: 15px;
						height: 15px;
					}

					> p {
						color: rgb(240, 60, 60);
						margin-top: 5px;
						padding: 2px 5px;
						font: 11px/1 '맑은 고딕';
						display: none;
					}
				}

				#comments {
					font-family: '맑은 고딕';
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.MEMBER {
		.inner {
			.join {
				gap: 50px;
				margin-bottom: 60px;
			}
			form {
				.agreement {
					margin-bottom: 30px;
					textarea {
						height: 140px;
						font: 13px/1.8 'Poppins';
					}
				}
				table {
					th {
						display: none;
						&:last-child {
							display: flex;
							justify-content: center;
							width: 100%;

							input[type='reset'],
							input[type='submit'] {
								display: inline-block;
								width: 48%;
								margin: 10px;
							}
						}
					}
					td {
						width: 100%;

						#userid,
						#pwd1,
						#pwd2,
						#email,
						#edu,
						#comments {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.MEMBER {
		.inner {
			.join {
				display: none;
			}
			form {
				.agreement {
					margin-bottom: 30px;
					textarea {
						height: 140px;
						font: 13px/1.8 'Poppins';
					}
				}
				table {
					th,
					td {
						padding: 13px 20px;
						font-size: 13px;
					}
					th {
						display: none;
						&:last-child {
							display: flex;
							justify-content: center;
							width: 100%;

							input[type='reset'],
							input[type='submit'] {
								font-size: 12px;
							}
						}
					}
					td {
						width: 100%;

						#userid,
						#pwd1,
						#pwd2,
						#email,
						#edu,
						#comments {
							width: 100%;
						}

						input[type='checkbox'],
						input[type='radio'] {
							margin-left: 5px;
							margin-right: 15px;
						}
					}
				}
			}
		}
	}
}
